venv
db.sqlite3
.idea
blogapp/__pycache__/__init__.cpython-310.pyc
blogapp/__pycache__/admin.cpython-310.pyc
blogapp/__pycache__/apps.cpython-310.pyc
blogapp/__pycache__/forms.cpython-310.pyc
blogapp/__pycache__/models.cpython-310.pyc
blogapp/__pycache__/urls.cpython-310.pyc
blogapp/__pycache__/views.cpython-310.pyc
blogapp/migrations/__pycache__/__init__.cpython-310.pyc
blogapp/migrations/__pycache__/0001_initial.cpython-310.pyc
blog/__pycache__/__init__.cpython-310.pyc
blog/__pycache__/settings.cpython-310.pyc
blog/__pycache__/urls.cpython-310.pyc
blog/__pycache__/wsgi.cpython-310.pyc
